.img-column{
    justify-content: center;
    align-items: center;
    display: flex;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    height: 100vh;
    position: relative;
    background-size: 100% auto;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-image: url("./assets/images/register.png");
}

.center {
    padding:20px;
}
.welcome-text{
    font-weight: bolder;
    color:gray;
    font-family: 'Open Sans', sans-serif;
}

/* Registration form */
.h3-responsive{
    font-weight: lighter;
    color:gray;
    font-family: 'Open Sans', sans-serif;
}
.floating-close{
    border-radius: 60px;
}
.registration-icon{
    font-size: 1px;
    color:gray;

}
.register-button-div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 250px;

}
.register-button-login{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:row;
}
.register-buttons{
    border-radius: 30px;
}

.register-button{
    width: 80%;
    border-radius: 30px;
}
.registration-form-row {
    /*margin-top: 2.5rem;*/
    margin-right: 5rem;
}
.form-column{
    margin-top: 8.5rem;

}
.decoratedLine {
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
}

.decoratedLine>span {
    position: relative;
    display: inline-block;
}

.decoratedLine>span:before,
.decoratedLine>span:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 1px solid;
    width: 591px;
    /* half of limiter*/
    margin: 0 20px;
}

.decoratedLine>span:before {
    right: 100%;
}

.decoratedLine>span:after {
    left: 100%;
}
/*******************/
.login-column {
    justify-content: center;
    align-items: center;
    display: flex;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    height: 100vh;
    position: relative;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/images/login1.png");
}
.company-reg-column{
    justify-content: center;
    align-items: center;
    display: flex;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    height: 100vh;
    position: relative;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/images/writing1.png");
}
.role-buttons{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.role-buttons-reg{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.welcome-buttons{
    width:200px;
    border-radius: 30px;
    color: white;
}
.loading-bar {
    justify-content: center;
    align-content: center;
    position: center;
    margin-top: 250px;
}
.loading-text {
    color:orange;
    font-family:sans-serif;
}
/*Error Component and Notfound page*/
.bad-gateway-row {
    top:50%;
    left:55%;
    right:-130px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.error-text {
    font-weight: 300;
    color: gray;
}
.error-header {
    color: gray;
    font-weight: bolder;

}
.next{
    align-items: flex-end;
    flex-direction: row;
}
.maps-card {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
@media (max-width: 1199.98px) {
    .form-column{
        margin-top: 17rem;
    }
}
@media (max-width: 576px) {
    .role-buttons{
        flex-direction: column;
        /*display: flex;*/
    }
    .welcome-buttons{
        width: 100px;
    }
    .form-column{
        margin-top: 12rem;
    }
}
