.img-column{
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/images/welcomeh.jpg");
}
